# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pkl

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
.env/

# ----------------------------
# Jupyter / notebooks
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Models (optional)
# ----------------------------
# Comment this if you WANT to upload best.pt
# models/

# ----------------------------
# Dataset (very important)
# ----------------------------
data/

# ----------------------------
# Google credentials 
# ----------------------------
credentials.json
src/credentials.json

# ----------------------------
# Streamlit cache
# ----------------------------
.streamlit/

# ----------------------------
# VSCode
# ----------------------------
.vscode/

# ----------------------------
# Temporary files
# ----------------------------
*.tmp
*.temp